@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* Add this CSS to your styles */
/* Apply styles to the button itself */
/* Apply styles to the button itself */
button {
  position: relative;
  overflow: hidden; /* Hide overflow for the border-grow element */
}

button .border-grow {
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%); 
  width: 0; 
  height: 2.5px; 
  background-color: transparent;
  transition: width 0.3s ease;
  
}

button:hover .border-grow {
  width: 80%;
  background-color: black; 
}




body {
  font-family: 'Montserrat', sans-serif;
  
}

h1{
font-size: 40px;
font-weight: 400;
}

h2{
  font-size: 25px;
font-weight: 400;
}

h3{
  font-size: 25px;
  

}
h5{
  font-weight: 500;
  font-size: 0.9rem;
}
p{
  font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {

  h1{
    font-size: 35px;
  }
}